body {
    background: #222222;
    color: #eeeeee;
    margin: 0;
}

h1 {
  font-family: monospace;
  margin: 0;
}

a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

header {
    background-color: #444444;
    border-bottom: 1px solid #555555;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 10px #000000;
}

.info,
.example__info {
    padding: 10px;
    font-size: 16px;
    font-family: monospace;
}

pre {
    background-color: #2b2b2b;
    padding: 10px;
    border: 1px solid #555555;
    font-size: 16px;
    box-shadow: 0 0 10px #000000;
}

.info-button {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -5px;
}

.hide {
    display: none;
}

.button {
    font-size: 22px;
    line-height: 28px;
    min-height: 28px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: monospace;
    font-size: 18px;
    padding: 0 0.5em;
    cursor: pointer;

    color: #eeeeee;
    background-color: #2b2b2b;
    border: 1px solid #555555;
    box-shadow: 0 0 10px #000000;
}

.button:hover {
    border: 1px solid #666666;
    background-color: #303030;
    color: #ffffff;
}

.example__start {
    display: none;
}

.example__start:checked.only-stop + .example__startButton::after {
    content: 'â– 	Stop';
}

.example__start:checked + .example__startButton::after {
    content: 'â™â™ Pauze';
}


.example__startButton {
    margin-left: 10px;
}

.example__startButton::after {
    content: 'â–º Start';
}

select {
    background-color: #444444;
    border: 1px solid #dddddd;
    color: #eeeeee;
    vertical-align: middle;
    height: 30px;
    font-size: 18px;
}

input {
    height: 30px;
    font-size: 18px;
}

select:focus {
    outline: none;
}

.marble {
    font-family: monospace;
    font-size: 18px;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1em 0 0 1em;
    cursor: default;
}

.marble__name {
    padding-right: 1em;
    white-space: nowrap;
}

.marble__nbr-of-values {
    padding-right: 0.5em;
    min-width: 38px;
}

.marble__sample {
    padding: 0; 
    text-align: center;
    cursor: default;
    min-width: 1em;
}

/* Line color */
.marble__sample:not([title]) {
    color: #666666;
    max-width: 1em;
    overflow-x: hidden;
}

.marble__sample-highlight {
    background-color: #333333;
}

.marble__row {
    transition-property: color;
    transition-duration: 200ms;
}

.marble__row-parent {
    color: #bbf;
}

.marble__row-highlight {
    color: #88f;
    background-color: #282828;
}